<mat-toolbar-row>
  @if (userStateService.isAuthenticated()) {
    <mat-label>Bienvenue{{ userStateService.currentUser()?.getEmail() ?? "" }}</mat-label>
    <button matFab color="primary" (click)="userStateService.logout(false)">
      <mat-icon></mat-icon>
      <span>Déconnexion</span>
    </button>
  } @else {
    <button matFab color="primary" routerLink="login">
      <mat-icon>login</mat-icon>
      <span>Se Connecter</span>
    </button>
  }
  <button matFab color="primary" routerLink="missions">
    <mat-icon>list_alt</mat-icon>
    <span>Missions</span>
  </button>
</mat-toolbar-row>
